<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Custom Live Update Demo 🚀
    </ion-title>
  </ion-toolbar>
 </ion-header>
 <ion-content [fullscreen]="true">
    <ion-accordion-group>
      <ion-accordion value="manual-update">
          <ion-item slot="header">
              <ion-label>Reload App with Manual Update</ion-label>
            </ion-item>
            <ion-item slot="content">
              <ion-grid id='grid-manual-update'>
                  <ion-row>
                      <ion-col>
                        <p><a href='https://ionic.io/docs/appflow/deploy/api#reloadapp'>Deploy.reloadApp()</a> can be used with the <a href='https://ionic.io/docs/appflow/deploy/api#checkforupdate'>checkForUpdate()</a>, <a href='https://ionic.io/docs/appflow/deploy/api#downloadupdate'>downloadUpdate()</a>, and <a href='https://ionic.io/docs/appflow/deploy/api#downloadupdate'>extractUpdate()</a> methods to manually push a live update to the app.<p>
                        <p>In this example, pressing the button will reload the app with the latest available live update.</p>
                      </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-button (click)='performManualUpdate()'>performManualUpdate()</ion-button>
                    </ion-col>
                    <ion-col>
                      <ion-text color='secondary'>Update status: {{updateStatus}}</ion-text>
                    </ion-col>
                  </ion-row>
              </ion-grid>
          </ion-item>
      </ion-accordion>
      <ion-accordion value="get-configuration">
        <ion-item slot="header">
          <ion-label>Get Configurations</ion-label>
        </ion-item>
        <ion-item slot="content">
        </ion-item>
      </ion-accordion>
      <ion-accordion value="get-current-version">
        <ion-item slot="header">
            <ion-label>Get Current Live Update Version</ion-label>
          </ion-item>
          <ion-item slot="content">
          </ion-item>
      </ion-accordion>
      <ion-accordion value="get-available-version">
          <ion-item slot="header">
              <ion-label>Get Count of Available Live Update Versions</ion-label>
            </ion-item>
            <ion-item slot="content">
            </ion-item>
        </ion-accordion>
        <ion-accordion value="configure">
          <ion-item slot="header">
              <ion-label>Configure App to Receive Live Updates</ion-label>
            </ion-item>
            <ion-item slot="content">
            </ion-item>
        </ion-accordion>
    </ion-accordion-group>
 </ion-content>