<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Custom Live Update Demo 🚀
    </ion-title>
  </ion-toolbar>
 </ion-header>
 <ion-content [fullscreen]="true">
    <ion-accordion-group>
      <ion-accordion value="manual-update">
          <ion-item slot="header">
              <ion-label>Reload App with Manual Update</ion-label>
            </ion-item>
            <ion-item slot="content">
            </ion-item>
      </ion-accordion>
      <ion-accordion value="get-configuration">
        <ion-item slot="header">
          <ion-label>Get Configurations</ion-label>
        </ion-item>
        <ion-item slot="content">
        </ion-item>
      </ion-accordion>
      <ion-accordion value="get-current-version">
        <ion-item slot="header">
            <ion-label>Get Current Live Update Version</ion-label>
          </ion-item>
          <ion-item slot="content">
          </ion-item>
      </ion-accordion>
      <ion-accordion value="get-available-version">
          <ion-item slot="header">
              <ion-label>Get Count of Available Live Update Versions</ion-label>
            </ion-item>
            <ion-item slot="content">
            </ion-item>
        </ion-accordion>
        <ion-accordion value="configure">
          <ion-item slot="header">
              <ion-label>Configure App to Receive Live Updates</ion-label>
            </ion-item>
            <ion-item slot="content">
            </ion-item>
        </ion-accordion>
    </ion-accordion-group>
 </ion-content>